@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");

.homepage {
  width: 100%;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h1,
p {
  font-family: sans-serif;
  color: #241c15;

  font-family: "Source Code Pro", monospace;
}
P {
  font-size: 2rem;
}
h1 {
  font-weight: 900;
  font-size: 5rem;
  font-family: "Source Code Pro", monospace;
}

.homepage > img {
  width: 20%;
  object-fit: cover;
}
